@using System.Web.Http
@using System.Web.Http.Controllers
@using System.Web.Http.Description
@using JDMallen.AppName
@model IGrouping<HttpControllerDescriptor, ApiDescription>

@{
    var controllerDocumentation = ViewBag.DocumentationProvider != null ? 
        ViewBag.DocumentationProvider.GetDocumentation(Model.Key) : 
        null;
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 id="@Model.Key.ControllerName">@Model.Key.ControllerName</h2>
    </div>
    @if (!String.IsNullOrEmpty(controllerDocumentation)) {
        <div class="panel-body">
            <p>@controllerDocumentation</p>
        </div>
    }
    <table class="table">
        <thead>
            <tr><th style="width: 50%">API</th><th>Description</th></tr>
        </thead>
        <tbody>
            @foreach (var api in Model) {
                <tr>
                    <td class="code"><a href="@Url.Action("Api", "Help", new { apiId = api.GetFriendlyId() })">@api.HttpMethod.Method @api.RelativePath</a></td>
                    <td>
                        @if (api.Documentation != null) {
                            <p>@api.Documentation</p>
                        } else {
                            <p>No documentation available.</p>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>