@using System.Web.Http
@using System.Web.Http.Controllers
@using System.Web.Http.Description
@using System.Collections.ObjectModel
@model Collection<ApiDescription>

@{
    ViewBag.Title = "Web API Help Page";

    // Group APIs by controller
    ILookup<HttpControllerDescriptor, ApiDescription> apiGroups = Model.ToLookup(api => api.ActionDescriptor.ControllerDescriptor);
}
<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1>@ViewBag.Title</h1>
        </div>
        <div class="panel-body">
            <h2>Hi there!</h2>
            <p>Let's begin!</p>
        </div>
    </div>
    @foreach (var group in apiGroups) {
        @Html.DisplayFor(m => group, "ApiGroup")
    }
</div>
